.cabecalho {
    background-color: #c088ca ;
    color: white;
    display: flex;
    justify-content: space-around;
   }
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 19px;
}
*{
    margin: 0;
    padding: 0;
}
.escola-imagem{
    width:35%;
    display: flex;
}
.escola {
    background-image: linear-gradient(#ffffff,#ffffff);
    color:#250d29;
    display: flex;

}